node_modules
dist
coverage

.env
.env.*
!.env.example

.git
.github
.claude
.vscode
.idea

**/*.log
.DS_Store

test
README.md
.coderabbit.yaml
.prettierrc
eslint.config.mjs
Dockerfile
.dockerignore
docker-compose.yml
